body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/pexels-igor-starkov-1117452.jpg);
    background-position:center;
    background-size: cover; 
    color: #333;
}

header {
    /* background-color: #333; */
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/pexels-igor-starkov-1117452.jpg);
    background-position:center;
    background-size: cover; 
    color: white;
    padding: 10px;
    text-align: center;
}
.logo img{
    height: 60px;
  }
.logo{
    font-size:2.5rem;
    color:var(--text-color);
    font-weight: 600;
    cursor:default;
}

nav {
    background-color:#0F0F0F;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    margin: 20px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.dashboard-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.dashboard-section1 {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 90px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: black;
}

input, button {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color:#0F0F0F;
    color: white;
    cursor: pointer;
}

footer {
    /* background-color: #0F0F0F; */
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/pexels-igor-starkov-1117452.jpg);
    background-position:center;
    background-size: cover; 
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

hr {
    border-color: #0F0F0F;
    background-color: #0F0F0F;
  }
 